// sidebar
$menuText:#050f12;
$menuActiveText:#0d578ffa;
$subMenuActiveText:#d629ab; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#f6f6f6;
$menuHover:#dde3ec;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;
$shu-blue:#06397E;
$CU-red:#DD2C34;
$CU-blue:#004889;
$CU-green:#028188;

$sideBarWidth: 310px;


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  shuBlue: $shu-blue;
  CURed: $CU-red;
  CUBlue: $CU-blue;
  CUGreen: $CU-green;
}
